*{
margin:0;
padding:0;
font-family:century Gothic;
}



header{
background-image:linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),
url(example.jpg);

height:100vh;
background-size:cover;
background-position:center;

}
ul{
float:right;
list-style-type:none;
margin-top:50px;


}

ul li{
display:inline-block; 


}
ul li a{
text-decoration:none;

color:#fff;
padding:4px 30px;


transition:0.7s ease;

border-radius:5px;


}


ul li a:hover{

background-color:#99ccff;
color:black;



}

ul li.active a{
background-color:#99ccff;
color:black;



}

.logo img{
float:left;

width:100px;
height:auto;
margin-top:15px;
padding:20px;

}
.main{


}
.title{
position:absolute;



top:50%;
left:50%;

transform:translate(-50%,-50%);
}

.h1{
color:white;
font-size:70px;
font-family:arial;
}

.button{


position:absolute;



top:60%;
left:50%;

transform:translate(-50%,-50%);

}
.btn{
text-decoration:none;
border:1px solid #99ccff;
color:#fff;
padding:4px 30px;




border-radius:5px;

transition:0.7s ease;

}

.btn:hover{



background-color:#99ccff;
color:black;



}



.reghead{
font-size:20px;
color:white;
font-weight:bold;
font-family:arial;
}

.regpage{
width:20%;
height:auto;
background-color:#d9d9d9;




}
input.regfrstnamebox{

width:70%;

padding:8px;
font-size:20px;

}


.navbar{

background-color:black;
width:100%;
height:100vh;
background-size:cover;
background-position:center;

}

input.regscndnamebox{


width:70%;

padding:8px;
font-size:20px;


}



input.regtrdnamebox{



width:70%;

padding:8px;
font-size:20px;


}


.regpara{


font-size:15px;

}

.regpara1{

color:#99ccff;


}
.regpara2{

color:#99ccff;
}

.reggender{
font-family:verdana;


}
.regfrstbtnname{
color:white;
padding:3px 58px;
background-color:rgba(0,102,204,1);

border:1px solid #d9d9d9;
border-radius:5px;
}
input.regbirthdaynamebox{

width:70%;

padding:8px;
font-size:20px;



}


input.regpassnamebox{

width:70%;

padding:8px;
font-size:20px;

}



.regnav{
height:100px;
width:100%;



}


.frstsong{

float:right;


}


.frstsongstyle{


padding:100px 100px;
margin-left:500px;


}


.scndsongstyle{


padding:100px 100px;
margin-left:650px;

s
}





.trdsongstyle{


padding:100px 100px;
margin-left:650px;


}

.frdsongstyle{


padding:100px 100px;
margin-left:650px;


}






.navbar2{



background-image:linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),
url(gimg.jpg);

height:auto;
background-size:cover;
background-position:center;

}


.footername{

width:100%;

height:40px;
background-color:#99ccff;
color:white;
font-family:courier;
text-align:center;
padding:40px;

}





.ppmain{






background-image:linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),
url(bg.jpg);

height:auto;
background-size:cover;
background-position:center;






}

.ph1{
font-family:arial;
font-size:80PX;
color:gold;
text-align:center;
padding:100px 50px;
}
.pp1{

font-family:courier;
color:purple;
font-size:40PX;
text-align:center;
}s

blockquote{
color:pink;

}
.pmain{

color:#f9e6ff;

}
.ptable{
text-align:center;
color:orange;

}
 
table,th,tr,td{


border:1px solid green;
border-collapse:collapse;
padding:15px;
}


.pmark{

color:#fef;
font-size:40px;


}

.pinf{

color:gold;



}






.preg{


background-collapse:collapse:


}


.smain{
float:right;
width:200px;
height:300px;
    margin: 105px 63px;
background-color:#7badde;
color:#fff;


}



.sformtitle{


font-weight:bold;
color:#fff;

}



input.snamebox1{
width:80%;
padding:8px;
}



.snamebox2{

width:80%;
padding:8px;
}



.snamebox3{


padding:15px 22px;
}


.serbtn{

padding:5px 10px;
    background-color: #1b0202;
    border: 1px solid #1b0202;
color:white;
margin-top:10px;
}

.spagetitle{
color:white;
    margin-top: 100px;
    margin-left: 42px;


}

.spagebox{
color:white;
width:30%;
height:220px;
    background-color: #82367d;
    padding: 34px 55px 3px;
   
    margin: 41px 72px;

border:1px solid #909eab;

}

.spageboxtitle{

font-weight:bold;


}




.sermain{







background-image:linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)),
url(ser.jpg);

height:auto;
background-size:cover;
background-position:center;







}






.navbar3{


width:100%;
height:500px;


background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),
url(cnt.jpg);


background-size:cover;
background-position:center;





}





.cntpicmain{




    padding: 121px 500px 72px;






}

















.cntpichdr{







font-size:35px;


color:white;







}








.cntpichdr1{



color:white;

font-size:20px;





}




.contactbtn{



margin: 34px 66px 77px 700px;










}







.contactbtntext{




color: #1d1c1c;
    padding: 8px;
    background-color: #dad10c;
    border: 1px solid #dad10c;
    border-radius: 12px;
font-weight:bold;

}




.contactmainform{

    margin: 60px 21px 23px 1400px



}


.contactmainformtext{



color:#99ccff;




}

.contactmainformbox1{

width: 120px;
    height: 30px;
    border: 1px solid black;


}

.contactmainformbox2{

width: 120px;
    height: 30px;
    border: 1px solid black;


}
.contactmainformbox3{

width: 120px;
    height: 30px;
    border: 1px solid black;


}
.contactmainformbox4{

width: 122px;
    height: 30px;
    border: 1px solid black;


}


.contactmainformbox5{

width: 247px;
    height: 80px;
    border: 1px solid black;


}

.contactmainbtn{



font-weight:bold;


font-weight: bold;
    background-color: #dad10c;
    padding: 11px 11px 10px 28px;
    border: 1px solid #dad10c;
    border-radius: 8px



}